<div class="w-full h-full min-h-[380px] rounded-2xl overflow-hidden" id="map">
  <iframe 
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3118.8295602805956!2d-121.41964502310287!3d38.583772571792615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809adbfb27685a75%3A0x4d37ea5d05ad8513!2sThe%20Firelight%20Studio%20at%20Paul%20Brown%20Massage%20Therapy!5e0!3m2!1sen!2sus!4v1774754866406!5m2!1sen!2sus" 
    width="100%" 
    height="100%" 
    style="border:0; min-height: 380px;" 
    allowfullscreen="" 
    loading="lazy" 
    class="w-full h-full rounded-2xl"
    referrerpolicy="no-referrer-when-downgrade"
    title="Map of The Firelight Studio location">
  </iframe>
</div>
